@import '../../../styles/index.scss';
@import '../../../styles/mixin.scss';
@import '../../../styles/variables.scss';

  .dropdown {
    width: 300px;
    margin-left: 8px;
    position: relative;
    background-color: white;
    border-bottom: 1px solid black;
    @include media(mobile) {
      flex-direction: column;
      margin: 8px;
      margin-left: 0px;
  }
}
.dropdown.open {
      border: 1px solid black;
  }
  
  .dropdownHeader {
    padding: 15px;
    color: black;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdownBody {
    display: none;
  }
  
  .dropdownBody.open {
    display: block;
    left: -1px;
    position: absolute;
    z-index: 999;
    width: 100%;
    border: 1px solid black;
    border-top: none;
    background-color: white;
  }
  
  .dropdownItem {
      text-align: left;
      color: black;
    padding: 10px;
  }
  .dropdownItem.selected {
     background-color: #eaeaea;
  }
  
  .dropdownItem:hover {
    cursor: pointer;
  }
  
  .dropdownItemDot {
    opacity: 0;
    color: #91A5BE;
    transition: all .2s ease-in-out;
  }
  
  .dropdownItemDot.selected {
    opacity: 1;
  }
