@import '../../../styles/index.scss';
@import '../../../styles/mixin.scss';
@import '../../../styles/variables.scss';

.container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 5px 12px;
    cursor: pointer;
    background-color: $dark-blue-color;
}

.warning {
    background: $dark-amber-color;
}

.error {
    background: $red-color;
}

.succuss {
    background: $green-color;
}

.icon {
    padding-right: 8px;
}

.label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}