@import '../../../styles/index.scss';
@import '../../../styles/mixin.scss';
@import '../../../styles/variables.scss';

.container {
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    background: none;
    border-radius: 4px;
    padding: 5px 12px;
    cursor: pointer;
    background-color: $dark-blue-color;
    @include media(mobile) {
        margin-top: 10px;
    }
}

.icon {
    padding-right: 8px;
}

.label {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}