// Colors
$dark-blue-color: #09357B;
$dark-blue-color: #09357BE5;
$red-color: #D32F2F;
$green-color: #388E3C;
$black: #000000;
$white: #FFFFFF;

// Font size

$h1-font-size: 38px;
$h2-font-size: 32px;
$h3-font-size: 25px;
$h4-font-size: 20px;
$h5-font-size: 18px;
$p1-font-size: 16px;

$border-radius: 0.25rem !default;
$box-shadow: 0 0.5rem 1rem rgba($black, 0.15) !default;