@import '../../../styles/index.scss';
@import '../../../styles/mixin.scss';
@import '../../../styles/variables.scss';

.container {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    border-radius: 1px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.imageContainer {
    display: flex;
    flex: 1;
    width: 100%;
}

.footerContainer {
    position: absolute;
    bottom: 0;
    top: 0;
    display: flex;
    width: 100%;
    align-items: flex-end;
    border-bottom: 3px solid red;
}

.footer {
    display: flex;
    width: 100%;
    min-height: 30%;
    padding: 20px 10px;
    align-items: flex-start;
    flex-direction: column;
    background: rgba(9, 53, 123, 0.9);
}

.title {
    font-family: Georgia;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: left;
    padding-bottom: 10px;
    
    color: #FFFFFF;
}

.subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    line-height: 29px;
    
    letter-spacing: 0.07px;
    color: #FFFFFF;
}

.description {
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}