@import '../../../styles/index.scss';
@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
  
.spinner {
    width: 88px;
    height: 82px;
    border-radius: 50%;
    border: 8px solid;
    border-top-color: $dark-blue-color;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
