@import '../../styles/index.scss';
@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';

.container {
    display: flex;
    width: 100%;
    @include media(mobile) {
        width: 100%;
    }
}

.defaultImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 40px 0px;
    @include media(mobile) {
        width: 320px;
    }
    background: $dark-blue-xx-color;
    .brandImage {
        width: 250px;
        height: 100px;
    }
}